
Snap.xcodeproj/project.xcworkspace/xcuserdata/jesper.xcuserdatad/UserInterfaceState.xcuserstate
Snap.xcodeproj/xcuserdata/jesper.xcuserdatad/xcdebugger/
Snap.xcodeproj/project.xcworkspace/xcuserdata/jesper.xcuserdatad/
